.sideNav{
    width:20vw;
    height: 100vh;
    background: #242835;
}

.logo-container{
    display:flex;
}

.logo{
    height:70px;
    width:100%;
    background:url('assets/images/Logo_Product_Header_On_Grey.svg');
    background-repeat: no-repeat;
    background-position: 15% 50%;
    padding:35px;
}

.close-button{
    align-self:center;
    padding: 5px;
    display: none;
}

.sideNav-items ul{
    color:#ffffff;
    font-size:15px;
    list-style:none;
}

.sideNav-items li{
    padding:10px;
    padding-left:20px;
}

.list-item{
    font-size:13px;
    color:#99A4B1;
}

.list-sub-item{
    display:flex;
}

.nav-icon-container{
    display:inline-block;
    width:20px;
    height:20px;
    margin-right: 20px;
}

ul{
    padding: 0px 10px;
}

li{
    display:flex;
    align-items:center;
}

.active-li{
    background-color: #FF6C61;
    border-radius: 4px;
}

.notification-count{
    width:17px;
    height:17px;
    border-radius:50%;
    background-color:#FF6C61;
    font-size: 10px;
    display:flex;
    justify-content:center;
    align-items:center;
    color: #ffffff;
    margin-left:20px;
}

.sidenav-footer{
    margin-top: 100px;
    border-top: 1px solid #99A4B1;
    padding: 10px;
    padding-left: 20px;
}

.sidenav-footer-header{
    color: #ffffff;
}

.sidenav-footer-description{
    color: #99A4B1
}

@media screen and (min-width: 1440px) {
  .sideNav{
        width:20vw;
        height: 100vh;
        background: #242835;
    }
}

@media screen and (min-width: 1024px) {
  .sideNav{
        height: auto;
    }

   /* .sideNav-items ul{
        font-size:12px;
    } */
}

@media screen and (max-width: 768px) {
  .sideNav{
        width:25vw;
        height: auto;
    }

   .sideNav-items ul{
        font-size:12px;
    }
}

@media screen and (max-width: 425px) {
    .sideNav{
        position:absolute;
        top:0;
        left:0;
        height:auto;
        width:70vw;
        z-index:1;
    }
    
    .close-button{
        display:block
    }
}